<div class="hero">
  <div class="hero__header">
    <div class="hero__container animated fadeInLeft">
      <h2>Hi! I am Exel Boy Alfanso.</h2>
      <p>This will be my first website!</p>
      <a class="btn-large light-green darken-2 waves-effect waves-light ">About me</a>
    </div>
  </div>
  <div class="hero__image-container">
    <img class="hero__image"src="images/heroimage.png" alt=""></img> 
  </div>
</div>
  <div class="hero__body">
    <h2>I am passionate about:</h2>
    <ul class="list hero__list animated fadeInDown" >
      <li class="list__item "><a href="#">Web Development</a></li>
      <li class="list__item "><a href="#">Game Development</a></li>
      <li class="list__item "><a href="#">Informatics Olympiad</a></li>
    </ul>
  </div>
  

  